.gallery-container {
  text-align: center;
  width: 100%;
  background-color: transparent;
}

@media (max-width: 768px) {
  .gallery-container {
    padding: 0 20px;
  }
  .photos {
    flex-direction: column;
    align-items: center;
  }
}
