@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #111; /* Un fondo oscuro para empezar */
  color: #fff; /* Texto blanco para contraste */
  overflow-x: hidden; /* Previene el scroll horizontal */
}
